vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Apr 2010 11:26:44 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|index.php
vti_author:SR|admin-PC\\admin
vti_modifiedby:SR|admin-PC\\admin
vti_timecreated:TR|11 Apr 2010 11:26:44 -0000
vti_cacheddtm:TX|11 Apr 2010 11:26:44 -0000
vti_filesize:IR|7385
vti_cachedlinkinfo:VX|S|img/drop-down.gif S|img/drop-up.gif S|img/nav-left.gif S|img/nav-right.gif S|img/nav-left-x2.gif S|img/nav-right-x2.gif S|img/time-down.png S|img/time-up.png
vti_cachedsvcrellinks:VX|FSUS|css/Calinder/css/img/drop-down.gif FSUS|css/Calinder/css/img/drop-up.gif FSUS|css/Calinder/css/img/nav-left.gif FSUS|css/Calinder/css/img/nav-right.gif FSUS|css/Calinder/css/img/nav-left-x2.gif FSUS|css/Calinder/css/img/nav-right-x2.gif FSUS|css/Calinder/css/img/time-down.png FSUS|css/Calinder/css/img/time-up.png
