vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Apr 2010 11:26:44 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|AMAL-PC\\AMAL
vti_modifiedby:SR|AMAL-PC\\AMAL
vti_timecreated:TR|11 Apr 2010 11:26:44 -0000
vti_cacheddtm:TX|11 Apr 2010 11:26:44 -0000
vti_filesize:IR|1998
vti_cachedlinkinfo:VX|S|brushed-steel.jpg S|brushed-steel.jpg S|coolbg.png S|coolbg.png S|coolbg.png S|gold.jpg S|coolbg.png S|coolbg.png S|brushed-steel.jpg S|../shadow-b.png
vti_cachedsvcrellinks:VX|FSUS|css/Calinder/css/gold/brushed-steel.jpg FSUS|css/Calinder/css/gold/brushed-steel.jpg FSUS|css/Calinder/css/gold/coolbg.png FSUS|css/Calinder/css/gold/coolbg.png FSUS|css/Calinder/css/gold/coolbg.png FSUS|css/Calinder/css/gold/gold.jpg FSUS|css/Calinder/css/gold/coolbg.png FSUS|css/Calinder/css/gold/coolbg.png FSUS|css/Calinder/css/gold/brushed-steel.jpg FSUS|css/Calinder/css/shadow-b.png
vti_backlinkinfo:VX|
