vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jan 2016 13:44:22 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|index.php custom_code/displayalert.php
vti_author:SR|admin-PC\\admin
vti_modifiedby:SR|MAZIN-951D7C24C\\Mazin
vti_timecreated:TR|08 Mar 2011 10:29:35 -0000
vti_nexttolasttimemodified:TR|11 Jan 2016 13:43:44 -0000
vti_cacheddtm:TX|11 Jan 2016 13:44:22 -0000
vti_filesize:IR|3609
vti_cachedlinkinfo:VX|S|../images/bg_menu.gif S|../images/001_11.png
vti_cachedsvcrellinks:VX|FSUS|images/bg_menu.gif FSUS|images/001_11.png
