vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jan 2007 10:15:42 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|MAZIN-951D7C24C\\Mazin
vti_modifiedby:SR|MAZIN-951D7C24C\\Mazin
vti_timecreated:TR|20 Jan 2007 10:15:42 -0000
vti_cacheddtm:TX|20 Jan 2007 10:15:42 -0000
vti_filesize:IR|3080
vti_cachedlinkinfo:VX|S|fade.jpg
vti_cachedsvcrellinks:VX|FSUS|Splashtastic/fade.jpg
vti_backlinkinfo:VX|Splashtastic/subpage1.html
